/* const scoresStyles = {
  padding: "32px",
  display: "flex",
  flexDirection: "column",
  alignItems: "center",
  justifyContent: "center",
  minHeight: "100vh"
} */


.howTo {
  padding: 32px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family:'Exo', sans-serif;
  font:100px;
}

.game-ready{
  font-size: 45px;
}
.start-btn {
  color:orange;
}
