
.nav {
  /* height: 80px;
  padding: 15px;
  background: rgb(247, 75, 75);
  color:#fff;
  display:flex;
  align-items: center; */

  position: absolute;
  width: 1097.9px;
  height: 87px;
  left: 181px;
  top: 98px;
  background: #1C1C1E;
  border-radius: 100px;
}

.nav ul {
  display:flex;
  justify-content: center;
  align-items: center;
  list-style: none;
}



.nav button {
  background-color: aliceblue;
}

.popup{
  border-color: #000; 
  border-style: groove; 
  border-width: 2px; 
  padding: 0px; 
  background-color: #FFF;
  font-size: 70%;
  position: absolute;
  top: 200px;
}