
<div className="about-page">
<div className="about-section">
  <h1>About Us Page</h1>
  <p> MDN Games is your one-stop shop to AI based games.</p>

</div>

<h2 style="text-align:center">Our Team</h2>
<div className="row">
  <div className="column">
    <div className="card">
      <img src="../imgs/icon.png" style="width:100%"/>
      <div className="container">
        <a href="https://github.com/canadiankay">Nadia Kasim</a>
        <p className="title">CEO & Co-Founder</p>
        <p>Full Stack Web Developer</p>
        <p>Experience: Psychology, Linguistics & Education</p>
        <p>Interests: UI/UX & Game Design</p>
        <p>kasimnadia@gmail.com</p>
        <a href="https://www.linkedin.com/in/nadia-kasim-ba4445115/" className="fa fa-linkedin"></a>
        <p><button className="button">Contact</button></p>
      </div>
    </div>
  </div>

  <div className="column">
    <div className="card">
      <img src="../imgs/icon.png" style="width:100%"/>
      <div className="container">
        <a href="https://github.com/devendrachitanna">Devendra Chitanna</a>
        <p className="title">CEO & Co-Founder</p>
        <p>Full Stack Web Developer</p>
        <p>Experience: Computer Networking & Cybersecurity</p>
        <p>Interests: AI & Databases</p>
        <p>devendrachitanna@gmail.com</p>
        <a href="https://www.linkedin.com/in/devendra-chitanna-740229121/" className="fa fa-linkedin"></a>
        <p><button className="button">Contact</button></p>
      </div>
    </div>
  </div>
  
  <div className="column">
    <div className="card">
      <img src="../imgs/icon.png" style="width:100%"/>
      <div className="container">
        <a href="https://github.com/MotongiM">Michel Motongi</a>
        <p className="title">CEO & Co-Founder</p>
        <p>Full Stack Web Developer</p>
        <p>Experience: Mechanical Engineering</p>
        <p>Interests: AI & Machine Learning</p>
        <p>michel_motongi@hotmail.com</p>
        <a href="https://www.linkedin.com/in/michel-motongi-bb5584188/" className="fa fa-linkedin"></a>
        <p><button className="button">Contact</button></p>
      </div>
    </div>
  </div>
</div>

</div>
