* {
  margin: 0;
  padding: 0;

  font: "Teko", sans-serif;
}

/* this styles the whole site */
body {
  color: #ffffff;
  /* background-color: black; */
  background-image: url("./imgs/background1.png");
  /* width:100%; */
  /* //height:200px; */
  /* min-height: 10%; */
  /* max-width: 50%; */
  position: absolute;
  width: 100%;
  height: 100%;
  /* overflow: scroll; */
  overflow: auto;
} 

/* header {
  position: absolute;
  width: 1333px;
  height: 936px;
  left: 63px;
  top: 42px;
  background-image: url("../imgs/Ai.jpeg");
 
} */


header {
  background: #4d4949;
  width:100%;
  top: 100px;
  border-radius: 158px;
  font-size: 50px;
  height: 1000px;
  display: flex; 
  align-items: center;
  justify-content: center;
  margin-left: auto;

  animation-name: headerscreen;
  animation-duration: 6s;
  animation-iteration-count: infinite;

}
@keyframes headerscreen {
  0%   {background-color: #685645;}
  25%  {background-color: #a1792e;}
  50%  {background-color: #df8b0e;}
  100% {background-color: #eea300;}
}

.div-ai {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  padding-top: 40px;
  width: 80%;
  height:80%

}

.img-ai {
  width: 80%;
  height: 80%;
  box-shadow: rgb(255, 255, 255) 0px -10px 30px 10px; 
  border-radius: 80px;
  display: flex;
  align-items: center;
  justify-content:center;
  
  
  position: relative;
  animation-name: aiImage;
  animation-duration: 5s;
  animation-timing-function: linear;
  animation-delay: 2s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}



@keyframes aiImage {
  0%   { left:0px; top:0px;}
  25%  { left:50px; top:0px;}
  50%  { left:50px; top:50px;}
  75%  { left:0px; top:50px;}
  100% { left:0px; top:0px;}
}

.header-title {
  font-family: "'Exo Medium', sans-serif";
  font-size: 100px;
  color:white;
  font-weight: bold;
  text-align: center;
}

.popup{
  border-color: #000; 
  border-style: groove; 
  border-width: 2px; 
  padding: 0px; 
  background-color: #FFF;
  font-size: 70%;
  position: absolute;
  top: 200px;
}



.canvas {
  display: flex;
  align-items: center;
  justify-content: center;

}
#myCanvas {
  background: #5fa886;
  border: 10px solid rgb(0, 0, 0);
  display: block;
}

/* styles for Layout/Header */

.main {
  min-height: 100vh;
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  font-size: 1.25rem;
}

 


footer {
  display: flexbox;
  justify-content: flex-end;
  flex-direction: column;
  align-items: center;
  position:bottom;
  
  padding: 10px;
  border-top: 1px solid #eaeaea;
  background-color: rgb(255, 115, 0);
  bottom:0;
  border-radius:10px;
  
}

footer p {
  font-family:"'Exo', sans-serif";
  font: size 1.5rem;
  font-weight: bold;
  
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 800px;
}

.card {
  margin: 1rem;
  padding: 1.5rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
  max-width: 300px;
}

.card:hover,
.card:focus,
.card:active {
  color: #0070f3;
  border-color: #0070f3;
}

.card h2 {
  margin: 0 0 1rem 0;
  font-size: 50px;
}

.card p {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.5;
  font-style:italic;
}